body{
    background-color:limegreen
}
#countLabel{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
    text-align: center;
}
.btnCont{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(134, 8, 252);
    background-color:rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.buttons:hover{
    background-color: rgba(36, 34, 35, 0.804);
}