body{
    background-color:black;
}
#countLabel{
    display: block;
    color: lime;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
    text-align: center;
}
.btnCont{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bolder;
    color:black;
    background-color:lime;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.7s;
    transition: color 0.7s;
}
.buttons:hover{
    color: white;
    background-color: black;
}